#features {
    background: #f6f6f6;
    padding: 20px 0px 50px 0px;
}
#features i.fa {
    font-size: 38px;
    margin-bottom: 20px;
    transition: all 0.5s;
    color: #fff;
    width: 100px;
    height: 100px;
    padding: 30px 0;
    border-radius: 50%;
    background: linear-gradient(to right, #07b592 30%, #28fca1 100%);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}
