#services {
    padding: 100px 0;
    background: linear-gradient(to right, #07b592 30%, #28fca1 100%);
    color: #fff;
}
#services .service-desc {
    margin: 10px 10px 20px;
}
#services h2 {
    color: #fff;
}
#services .section-title h2::after {
    position: absolute;
    content: "";
    background: rgba(255, 255, 255, 0.3);
    height: 4px;
    width: 60px;
    bottom: 0;
    margin-left: -30px;
    left: 50%;
}
#services i.fa {
    font-size: 42px;
    width: 120px;
    height: 120px;
    padding: 40px 0;
    background: linear-gradient(to right, #e8e8e8 0%, #ffffff 100%);
    border-radius: 50%;
    color: #07b592;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}
#services h3 {
    font-weight: 500;
    padding: 5px 0;
    color: #fff;
}
#services p {
    color: rgba(255, 255, 255, 0.75);
}
#services .service-desc {
    margin-bottom: 40px;
}
